################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FstekParser/obj/Debug
/FstekParser/bin/Debug
/packages
/.vs/FstekParser/v16
